@import "tailwindcss";

@theme {
  --color-green-bright: #8CC63F;
  --color-cyan-blue: #2FBCCF;
  --color-moss-brown: #20190A;
  --color-dark-green: #2B391A;
  --color-pine-green: #72813F;
  --color-leaf-green: #9EAF66;
  --color-light-green: #D8E4AE;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}
